@import 'reset.css';

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://source.unsplash.com/category/nature");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
}

header #weather {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    padding: 1em;
}

header #weather .status {
    display: flex;
}

header #weather .status .temperature {
    margin-left: .4em;  
}

header #weather .location {
    text-align: right;
    font-size: .8em;
}

main {
    font-size: 3em;
    font-weight: bolder;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .time {
    font-size: 2.4em;
    font-weight: lighter;
}

main .greeting input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: .1em solid white;
    font-size: 1em;
    width: 3em;
    font-weight: bolder;
    color: white;
}

footer {

}

@media screen and (max-width: 768px) {
    main {
        font-size: 2em;
    }
}